form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 30px;
  background-color: rgba(178 146 171 / 50%);
  box-shadow: 0px 0px 8px 0px #33333347;
}

input {
  color: rgba(51, 51, 51, 0.8);
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0px 0px 8px 0px #33333347;
}
input::placeholder {
  font-weight: 400;
}

form > button {
  font-size: 20px;
  font-weight: 800;
  color: rgba(51, 51, 51, 0.8);
  margin-top: 30px;
  padding: 15px;
  border: none;
  box-shadow: 0 0 2px #333;
  cursor: pointer;
  background-color: rgba(178, 146, 171, 0.742);
  border-radius: 5px;
  transition-duration: 400ms;
}

form > button:hover {
  transform: scale(1.1);
  background-color: rgba(79, 183, 93, 0.2);
}
