ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

p {
  font-size: 20px;
  font-weight: 500;
  color: rgba(51, 51, 51, 0.8);
  margin-right: 30px;
}

li > button {
  font-size: 15px;
  font-weight: 700;
  color: rgba(51, 51, 51, 0.8);
  padding: 5px;
  border: none;
  box-shadow: 0 0 2px #333;
  cursor: pointer;
  background-color: rgba(178, 146, 171, 0.742);
  border-radius: 5px;
  transition-duration: 400ms;
}

li > button:hover {
  transform: scale(1.1);
  background-color: rgba(255, 0, 0, 0.2);
}
